<app-top-bar></app-top-bar>
<div style="height: 75px;"></div>
<div class="sideBySide-question-card">
  <!-- @for(post of data; track post){ -->
    <app-half-card></app-half-card>
    <app-half-card></app-half-card>
  <!-- } -->
</div>
<div class="sideBySide-question-card">
    <app-long-card></app-long-card>
    <app-long-card></app-long-card>
</div>
<div class="sideBySide-question-card">
    <app-half-card></app-half-card>
    <app-half-card></app-half-card>
</div>
<div class="sideBySide-question-card">
  <app-long-card></app-long-card>
  <app-long-card></app-long-card>
</div>
<div class="sideBySide-question-card">
  <app-half-card></app-half-card>
  <app-half-card></app-half-card>
</div>