<!-- modal-comment.component.html -->

<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content">
        <div class="question-title"> questionTitle </div>
        <div class="question-topper">
            <div class="question-details-group">
              <div class="score">274 points by oblio</div>
              <div class="creator">codeberg.org </div>
              <div class="time">🕔 4 hours ago</div>
            </div>
            <div class="comments-group">
              <div class="comments-icon">🗨️</div>
              <div class="comments-count">95 comments</div>
            </div>
        </div>
        <div class="comment-card">
            <div class="comment-title">Commenter Leverl 1</div>
            <div class="comments-description">You can can both the right. The title as  it standards describes Codeberg  as a "FastOpen Source Alternative to Github" and I'd agree that it's a confusing to say at least.</div>
        </div>
        <div class="comment-time"> 3 hours ago </div>
    </div>
  </div>
  